[user]
	email = lclark@mozilla.com
	name = Lin Clark
[push]
	default = simple
[branch]
	autosetuprebase = always
[alias]
	; console-specific
	getsha = "!f() { git log devtools-html/console-frontend --grep \"$1\" --pretty=oneline --reverse --format=format:%H; }; f"
	prep = "!f() { git fetch origin; git fetch devtools-html; git reset --hard origin/branches/default/tip; git ch `git getsha \"$1\"`; }; f"

	co = checkout
	br = branch
	ci = commit
	ch = cherry-pick
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	m = checkout master
	up = "!git remote update -p; git merge --ff-only @{u}"
	pr = "!f() { git checkout -b pr/$1; }; f"
	files = "!f() { git diff --name-status $1^ $1; }; f"
	cdiff = "!f() { git diff $1^ $1; }; f"
	ca = "!git add -A && git commit -av"
	amend = commit -a --amend --no-edit
	b = checkout -b
	annihilate = "!f() { git branch -D \"$1\"; git push linclark --delete \"$1\"; }; f"
	ann = annihilate
[diff]
	compactionHeuristic = true
